{% extends 'front/base.html.twig' %}

{% block title %} {{ article.title }} {% endblock title %}

{% block body %}

    <h1>{{ article.title }}</h1>
    <h2 style="color:{{ article.category.color }}">{{ article.category.title }}</h2>


    <img src="{{ article.image }}" alt="random image">

    <h3>{{ article.content }}</h3>

    {#Si l'on veut insérer une date provenant de la BDD, il faut d'abord la formater en string, sinon c'est un objet que renvoie
    la BDD, d'où l'extension twig "daet()" #}
    <p>{{ article.publicationDate|date('d/m/Y') }}</p>

    <a href="{{ path("list_articles") }}">Retour</a>

{% endblock body %}

