{% extends 'admin/base.html.twig' %}

{% block title %} Articles {%  endblock title %}

{% block body  %}

    <h1>Le test</h1>

    {% for article in articles %}

        {#je lis mon lien à ma page article via la fonction path() de twig, ainsi je le nomme par son nom plutot que par
ledit chemin + je peux donner la valeur article.id à l'élément id que j'ai précisé comme variable (WILDCARD) dans mon PagesController#}
        <h2><a href="{{ path('admin_show_article', {id: article.id}) }}">{{ article.title }}</a></h2>
        <div class="images" ><img src="{{ asset('uploads_directory/' ~ article.imageFileName) }}" alt="" class="img-fluid"></div>
        <a href="{{ path('admin_remove_article', {id: article.id}) }}"> DELETE L'ARTICLE CI-DESSUS</a>

    {% endfor %}
    <br>
    <a href="{{ path('app_logout') }}">logout</a>
    <br>
    <a href="{{ path('admin_insert_article') }}">RAJOUTER UN ARTICLE</a>

{% endblock body %}